@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DbContext en Repository Pattern</h1>
    <p>
        ASP.NET MVC met EntityFramework met en zonder Repository Pattern

        Gebruik menu items Flight of FlightRepo.
    </p>
</div>
